In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('../data/bank-full.csv', sep = ";")

In [4]:
## Todos os dados
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no
10,41,admin.,divorced,secondary,no,270,yes,no,unknown,5,may,222,1,-1,0,unknown,no
11,29,admin.,single,secondary,no,390,yes,no,unknown,5,may,137,1,-1,0,unknown,no
12,53,technician,married,secondary,no,6,yes,no,unknown,5,may,517,1,-1,0,unknown,no
13,58,technician,married,unknown,no,71,yes,no,unknown,5,may,71,1,-1,0,unknown,no
14,57,services,married,secondary,no,162,yes,no,unknown,5,may,174,1,-1,0,unknown,no
15,51,retired,married,primary,no,229,yes,no,unknown,5,may,353,1,-1,0,unknown,no
16,45,admin.,single,unknown,no,13,yes,no,unknown,5,may,98,1,-1,0,unknown,no
17,57,blue-collar,married,primary,no,52,yes,no,unknown,5,may,38,1,-1,0,unknown,no
18,60,retired,married,primary,no,60,yes,no,unknown,5,may,219,1,-1,0,unknown,no
19,33,services,married,secondary,no,0,yes,no,unknown,5,may,54,1,-1,0,unknown,no
20,28,blue-collar,married,secondary,no,723,yes,yes,unknown,5,may,262,1,-1,0,unknown,no
21,56,management,married,tertiary,no,779,yes,no,unknown,5,may,164,1,-1,0,unknown,no
22,32,blue-collar,single,primary,no,23,yes,yes,unknown,5,may,160,1,-1,0,unknown,no
23,25,services,married,secondary,no,50,yes,no,unknown,5,may,342,1,-1,0,unknown,no
24,40,retired,married,primary,no,0,yes,yes,unknown,5,may,181,1,-1,0,unknown,no
25,44,admin.,married,secondary,no,-372,yes,no,unknown,5,may,172,1,-1,0,unknown,no
26,39,management,single,tertiary,no,255,yes,no,unknown,5,may,296,1,-1,0,unknown,no
27,52,entrepreneur,married,secondary,no,113,yes,yes,unknown,5,may,127,1,-1,0,unknown,no
28,46,management,single,secondary,no,-246,yes,no,unknown,5,may,255,2,-1,0,unknown,no
29,36,technician,single,secondary,no,265,yes,yes,unknown,5,may,348,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45181,46,blue-collar,married,secondary,no,6879,no,no,cellular,15,nov,74,2,118,3,failure,no
45182,34,technician,married,secondary,no,133,no,no,cellular,15,nov,401,2,187,5,success,yes
45183,70,retired,married,primary,no,324,no,no,cellular,15,nov,78,1,96,7,success,no
45184,63,retired,married,secondary,no,1495,no,no,cellular,16,nov,138,1,22,5,success,no
45185,60,services,married,tertiary,no,4256,yes,no,cellular,16,nov,200,1,92,4,success,yes
45186,59,unknown,married,unknown,no,1500,no,no,cellular,16,nov,280,1,104,2,failure,no
45187,32,services,single,secondary,no,1168,yes,no,cellular,16,nov,411,1,-1,0,unknown,yes
45188,29,management,single,secondary,no,703,yes,no,cellular,16,nov,236,1,550,2,success,yes
45189,25,services,single,secondary,no,199,no,no,cellular,16,nov,173,1,92,5,failure,no
45190,32,blue-collar,married,secondary,no,136,no,no,cellular,16,nov,206,1,188,3,success,yes
45191,75,retired,divorced,tertiary,no,3810,yes,no,cellular,16,nov,262,1,183,1,failure,yes
45192,29,management,single,tertiary,no,765,no,no,cellular,16,nov,238,1,-1,0,unknown,yes
45193,28,self-employed,single,tertiary,no,159,no,no,cellular,16,nov,449,2,33,4,success,yes
45194,59,management,married,tertiary,no,138,yes,yes,cellular,16,nov,162,2,187,5,failure,no
45195,68,retired,married,secondary,no,1146,no,no,cellular,16,nov,212,1,187,6,success,yes
45196,25,student,single,secondary,no,358,no,no,cellular,16,nov,330,1,-1,0,unknown,yes
45197,36,management,single,secondary,no,1511,yes,no,cellular,16,nov,270,1,-1,0,unknown,yes
45198,37,management,married,tertiary,no,1428,no,no,cellular,16,nov,333,2,-1,0,unknown,no
45199,34,blue-collar,single,secondary,no,1475,yes,no,cellular,16,nov,1166,3,530,12,other,no
45200,38,technician,married,secondary,no,557,yes,no,cellular,16,nov,1556,4,-1,0,unknown,yes
45201,53,management,married,tertiary,no,583,no,no,cellular,17,nov,226,1,184,4,success,yes
45202,34,admin.,single,secondary,no,557,no,no,cellular,17,nov,224,1,-1,0,unknown,yes
45203,23,student,single,tertiary,no,113,no,no,cellular,17,nov,266,1,-1,0,unknown,yes
45204,73,retired,married,secondary,no,2850,no,no,cellular,17,nov,300,1,40,8,failure,yes
45205,25,technician,single,secondary,no,505,no,yes,cellular,17,nov,386,2,-1,0,unknown,yes
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [5]:
## Média dos dados 
data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [41]:
## Filtro de pessoas que a campanha teve resultado positivo
maskSuccess = data.poutcome == "success"
dataSuccess = data[maskSuccess]
data[maskSuccess]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
24080,56,technician,married,secondary,no,589,yes,no,unknown,23,oct,518,1,147,2,success,yes
24165,30,admin.,married,secondary,no,873,yes,no,telephone,12,nov,119,1,167,3,success,no
24239,48,admin.,divorced,secondary,no,295,yes,no,cellular,17,nov,123,1,164,2,success,no
24264,49,management,married,tertiary,no,64,no,no,cellular,17,nov,208,1,159,1,success,no
24435,42,technician,married,tertiary,no,14282,yes,no,cellular,17,nov,77,1,103,4,success,no
24506,42,unemployed,married,unknown,no,970,yes,no,telephone,17,nov,725,1,119,10,success,no
24545,46,services,divorced,secondary,no,0,no,no,cellular,17,nov,407,1,150,3,success,no
24574,36,management,divorced,tertiary,no,3837,yes,no,cellular,17,nov,184,1,193,1,success,no
24622,53,retired,married,tertiary,no,2269,no,no,cellular,17,nov,1091,2,150,1,success,yes
24786,41,blue-collar,married,primary,no,1461,yes,no,cellular,18,nov,290,1,165,2,success,no
24802,56,technician,married,secondary,no,589,yes,no,cellular,18,nov,208,1,26,3,success,no
24838,42,admin.,single,secondary,no,-247,yes,yes,cellular,18,nov,104,2,28,2,success,no
24902,41,services,married,secondary,no,446,yes,no,cellular,18,nov,296,1,186,1,success,no
25050,41,blue-collar,married,secondary,no,1954,no,no,cellular,18,nov,65,1,110,2,success,no
25118,32,blue-collar,single,secondary,no,118,yes,no,cellular,18,nov,216,1,124,1,success,no
25282,44,services,married,secondary,no,-236,yes,no,cellular,18,nov,218,2,113,7,success,no
25297,52,self-employed,married,tertiary,no,5350,yes,yes,cellular,18,nov,68,2,110,4,success,no
25478,30,management,married,tertiary,no,314,no,no,cellular,19,nov,364,2,175,2,success,no
25525,32,blue-collar,married,secondary,no,2089,yes,no,cellular,19,nov,192,1,5,1,success,no
25537,32,management,single,tertiary,no,2667,yes,no,cellular,19,nov,197,1,99,2,success,no
25555,45,management,divorced,secondary,no,644,yes,no,cellular,19,nov,418,1,168,1,success,yes
25700,39,housemaid,married,secondary,no,1444,no,no,cellular,19,nov,100,1,117,8,success,no
25714,54,services,married,unknown,no,386,no,yes,cellular,19,nov,74,1,152,1,success,no
25721,37,blue-collar,married,secondary,no,1165,yes,no,cellular,19,nov,62,3,190,4,success,no
25845,46,unemployed,divorced,secondary,no,3354,yes,no,cellular,19,nov,522,1,174,1,success,yes
25962,34,admin.,married,tertiary,no,899,yes,no,telephone,19,nov,377,3,7,4,success,no
26006,40,admin.,single,secondary,no,664,no,no,cellular,19,nov,188,2,121,2,success,no
26069,39,management,divorced,tertiary,no,4692,yes,no,telephone,19,nov,214,2,174,2,success,no
26100,40,management,married,tertiary,no,3352,yes,no,cellular,19,nov,639,2,27,1,success,yes
26127,44,blue-collar,single,primary,no,1593,yes,no,cellular,19,nov,201,2,174,3,success,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45126,54,technician,married,tertiary,no,876,no,no,cellular,27,oct,269,3,541,3,success,yes
45128,23,unemployed,single,tertiary,no,993,no,no,cellular,27,oct,409,1,91,4,success,no
45129,46,technician,married,unknown,no,3308,no,no,cellular,27,oct,171,1,91,2,success,yes
45132,61,retired,married,secondary,no,1058,no,no,cellular,27,oct,277,1,92,5,success,no
45134,70,retired,married,secondary,no,0,no,no,cellular,27,oct,258,1,92,5,success,yes
45140,63,entrepreneur,married,secondary,no,3904,no,no,telephone,8,nov,360,1,96,4,success,yes
45141,77,unknown,married,unknown,no,397,no,no,telephone,8,nov,207,1,185,3,success,no
45142,34,admin.,married,tertiary,no,79,yes,no,cellular,8,nov,120,2,95,6,success,no
45149,38,technician,married,tertiary,no,88,no,no,cellular,8,nov,282,2,186,4,success,yes
45150,65,management,married,unknown,no,2352,no,no,cellular,8,nov,354,3,188,13,success,no
45155,44,entrepreneur,married,tertiary,no,121,no,no,cellular,9,nov,248,1,91,1,success,yes
45160,35,technician,married,secondary,no,0,yes,no,cellular,9,nov,524,1,96,5,success,yes
45162,29,admin.,single,secondary,no,464,no,no,cellular,9,nov,208,2,91,3,success,yes
45166,41,unemployed,single,tertiary,no,79,no,no,telephone,9,nov,394,1,390,2,success,yes
45168,62,retired,married,tertiary,no,2557,yes,no,cellular,10,nov,404,1,57,8,success,yes
45172,30,technician,single,tertiary,no,2325,no,no,cellular,10,nov,134,1,92,8,success,no
45174,62,blue-collar,married,secondary,no,272,no,no,cellular,11,nov,289,1,92,3,success,yes
45175,38,entrepreneur,single,secondary,no,2543,no,no,cellular,11,nov,357,3,93,5,success,yes
45177,36,admin.,divorced,secondary,no,1224,yes,no,cellular,12,nov,482,1,374,1,success,yes
45178,34,blue-collar,married,secondary,no,320,yes,no,cellular,12,nov,413,1,92,3,success,yes
45182,34,technician,married,secondary,no,133,no,no,cellular,15,nov,401,2,187,5,success,yes
45183,70,retired,married,primary,no,324,no,no,cellular,15,nov,78,1,96,7,success,no
45184,63,retired,married,secondary,no,1495,no,no,cellular,16,nov,138,1,22,5,success,no
45185,60,services,married,tertiary,no,4256,yes,no,cellular,16,nov,200,1,92,4,success,yes
45188,29,management,single,secondary,no,703,yes,no,cellular,16,nov,236,1,550,2,success,yes
45190,32,blue-collar,married,secondary,no,136,no,no,cellular,16,nov,206,1,188,3,success,yes
45193,28,self-employed,single,tertiary,no,159,no,no,cellular,16,nov,449,2,33,4,success,yes
45195,68,retired,married,secondary,no,1146,no,no,cellular,16,nov,212,1,187,6,success,yes
45201,53,management,married,tertiary,no,583,no,no,cellular,17,nov,226,1,184,4,success,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes

In [42]:
## Qual posição de emprego houve maior taxa de sucesso
dataSuccess.job.describe()

count           1511
unique            12
top       management
freq             387
Name: job, dtype: object

In [49]:
## Quantas pessoas que trabalham com "Management", tiveram sucesso e tem casa própia
maskJobManagement = (data.job == "management")
maskHasHouse      = (data.housing == "yes")
 
result = data[maskJobManagement & maskSuccess & maskHasHouse]
 
result.job.count()

107

In [40]:
# mask = data.poutcome == "failure"
# dataFailure = data[mask]
# data[mask]

In [30]:
## Qual posição de emprego houve maior taxa de fracasso
dataFailure.job.describe()

count            4901
unique             12
top       blue-collar
freq             1068
Name: job, dtype: object

In [ ]:
# A maior taxa de pessoas com moradia fica para pessoas com nivel "Secondary"

In [36]:
educationMask = data.housing == "yes"
data.education[educationMask].describe()

count         25130
unique            4
top       secondary
freq          14038
Name: education, dtype: object

In [ ]:
# A maior taxa de pessoas sem moradia fica para pessoas com nivel "Secondary"

In [38]:
educationMask2 = data.housing == "no"
data.education[educationMask2].describe()

count         20081
unique            4
top       secondary
freq           9164
Name: education, dtype: object